/* Tabs Extra Styling */
.tab-btn {
    background: #e2e8f0;
    color: var(--text);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 0px;
    width: auto;
}
.tab-btn:hover { background: #cbd5e1; }
.active-tab {
    background: var(--primary) !important;
    color: white !important;
}
